# ARQUIVO DE CONFIGURACAO DE AMBIENTE
# COPIE ESTE ARQUIVO E RENOMEIE PARA '.env'
# APOS ISSO CONFIGURE CONFORME O EXEMPLO.
# NECESSARIO SUBSTITUIR TODOS OS PLACEHOLDERS DEV_...
#
# Exemplo:
# PORT=COM1
# PORT_RELAY=COM2
# log_folder=C:/Log/robot/84/serial
# FIRMWARE_TARGET=F1584C
# PATH_ETE=../doc/ETE/F1584C/data/info_card.json
# UPDATE_OUTPUT_PATH=../firm/out/
PORT=DEV_COM_PORT
PORT_RELAY=DEV_COM_RELAY_PORT
log_folder=C:/Log/robot/DEV_PROJECT_NAME/serial
FIRMWARE_TARGET=DEV_FIRMWARE_TARGET
PATH_CONFIG=../doc/ETE/DEV_FIRMWARE_TARGET/content/config.json
PATH_ETE=../doc/ETE/DEV_FIRMWARE_TARGET/data/info_card.json
UPDATE_OUTPUT_PATH=../firm/out/
